<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Confirmation Info | Balloon Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">BALLOON SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-light btn-sm ml-3" href="/logout">
                    <i class="fa fa-shopping-cart">Logout</i>
                </a>
            </form>
        </div>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">BALLOON SHOP</h1>
        <h3 class="jumbotron-heading">Confirmation Info</h3>
    </div>
</section>

<div class="container mb-4">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <td><b>Client Name </b></td>
                <td th:text="${session.clientName}"></td>
            </tr>
            <tr>
                <td><b>Client Address </b></td>
                <td th:text="${session.clientAddress}"></td>
            </tr>
            <tr>
                <td><b>Client IP Address</b></td>
                <td th:text="${ipAddress}"></td>
            </tr>
            <tr>
                <td><b>Client Browser</b></td>
                <td th:text="${clientBrowser}"></td>
            </tr>
            <tr>
                <td><b>Balloon Color </b></td>
                <td th:text="${session.color}"></td>
            </tr>
            <tr>
                <td><b>Balloon Size </b></td>
                <td th:text="${session.size}"></td>
            </tr>
        </table>
    </div>
    </br>
    <div>
        <form th:method="POST" th:action="@{/ConfirmationInfo}">
            <button type="submit" class="btn btn-block btn-dark mb-2" th:value="Confirm">Confirm</button>
        </form>
        <a class="btn btn-block btn-secondary" href="/logout">Logout</a>
        <a class="btn btn-block btn-light" href="/BalloonOrder.do">Back</a>
    </div>
</div>

<!-- Footer -->
<footer class="text-black-50 mt-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                    impression.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Others links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i>E Company</li>
                    <li><i class="fa fa-envelope mr-2"></i>emilijan.koteski@students.finki.ukim.mk</li>
                    <li><i class="fa fa-phone mr-2"></i>+ 19 20 25</li>
                    <li><i class="fa fa-print mr-2"></i>+ 19 20 25</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>