<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Size | Balloon Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">BALLOON SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <th:block sec:authorize="isAuthenticated()">
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-light btn-sm ml-3" href="/logout">
                        <i class="fa fa-shopping-cart">Logout</i>
                    </a>
                </form>
            </th:block>
            <th:block sec:authorize="!isAuthenticated()">
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-secondary btn-sm ml-3" href="/login">Login</a>
                </form>
            </th:block>
        </div>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">BALLOON SHOP</h1>
        <h3 class="jumbotron-heading">Your Order Status</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td><b>Balloon Color</b></td>
                    <td th:text="${session.color}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<div class="container mb-4">
    <h3 class="jumbotron-heading">Select balloon size:</h3>
    <form th:method="POST" th:action="@{/orders/select-size}">
        <input type="radio" name="size" value="Small"> Small <br/>
        <input type="radio" name="size" value="Medium"> Medium <br/>
        <input type="radio" name="size" value="Big"> Big <br/>
        <input type="radio" name="size" value="Extra Big"> Extra Big <br/>
        <br/>
        <!--    <a href="/deliveryInfo.html">Submit</a>-->
        <div th:if="${hasError}">
            <div th:text="${error}" class="text-danger"></div>
        </div>
        <input class="btn btn-dark" type="submit" th:value="Submit">
        <a class="btn" href="/">Back</a>
    </form>
</div>

<!-- Footer -->
<footer class="text-black-50 mt-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                    impression.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Others links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i>E Company</li>
                    <li><i class="fa fa-envelope mr-2"></i>emilijan.koteski@students.finki.ukim.mk</li>
                    <li><i class="fa fa-phone mr-2"></i>+ 19 20 25</li>
                    <li><i class="fa fa-print mr-2"></i>+ 19 20 25</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>